    * {
        background-color: white;    
        font-family: 'Roboto', sans-serif;
        flex-wrap: wrap;
    }

    body {
        margin: 0;
    }

    .blue_area {
        background-color: #1F2937;
        height: 700px;
    }

    .header,
    .section_links,
    .subtext{
        background-color: #1F2937;
        color:#E5E7Eb;
        font-size: 18px;
        display: flex;
        padding-right:200px;
        justify-content: space-between;

    }

    .section_links{
        gap:20px;
        padding-top:10px;
        margin-right:-100px;
    }

    .robot_logo{
        background-color: #1F2937;
        color:#F9FAF8;
        font-size: 24px;
        font-weight:900;
        margin-left:200px;
        padding-top:10px;
        
    }

    .main_text{
        background-color: #1F2937;
        color:#F9FAF8;
        font-size: 48px;
        font-weight:900;    
        position:absolute;
        margin-left:200px;
        margin-top:200px;
    }

    .header a{
        margin-top:10px;
        gap: 2px;
        color:#E5E7Eb;
        text-decoration: none;
    }

    .subtext{
        display:block;
        margin-right:auto;
        margin-left:200px;
        margin-top:290px;
    }

    .hydro_plane_img{
        height: 350px;
        display:block;  
        margin-right: 300px;
        margin-left: auto;
        margin-top:-250px;
    }

    .pre_order_button{
        position:absolute;
        text-decoration: none;
        background-color: #3882F6;
        color:white;
        font-weight:200;
        margin-left:200px;
        margin-top:-100px;
        padding:20px;
        padding-top:10px;
        padding-bottom:10px;
        border-radius:4px;
        font-size:20px;
        text-align:center;
    }

    .information_title {
        text-align: center;
        font-size: 36px;
        color: #1F2937;
        font-weight: 900;
        margin-top:230px;
    }

    /* boxes for information section */

    .box_1,
    .box_2,
    .box_3,
    .box_4{
        height:210px;
        width: 200px;
        border: 5px solid #3882F6;
        border-radius:20px;
    }

    .information_box{
        display:flex;
        border-radius:20px;
        margin-left:400px;
        margin-top: 70px;
        gap: 50px;
    }

    .text_box{
        display:flex;
        border-radius:20px;
        margin-left:400px;
        gap: 70px;
        flex-wrap:wrap;
        text-align: center;

    }
    
    .info_text_4{
        margin-left:20px;
    }